.page-header.navbar .page-logo .logo-default{
    margin-top: 4px;
    margin-left: 14px;
    max-width: 157px;
}
.fc-unthemed .fc-today{ background: #ddfbff;}
.login .logo{margin-top: 20px;}
.login .logo img{max-width: 200px;}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover.navbar-collapse, .page-sidebar.navbar-collapse{padding-top: 40px;}
ul.no-bullet{ list-style-type: none; padding-left: 0;}
